<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Exam 2</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.css" rel="stylesheet" />
  <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- search: https://mdbootstrap.com/docs/standard/forms/search/  -->
  <h1 class='text-center'>iTunes Artist Search</h1>
  <div class="jumbotron jumbotron-fluid">
    <form action='artist' , method="POST">
    <div class="input-group" id="searchbar">
      <div class="form-outline">
        <input type="text" id="form1" class="form-control" name="artist_search" />
        <label class="form-label" for="form1">Search</label>
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </form>
    </div>
    
  </div>

</body>

</html>